@font-face {
	font-family: Shabnam;
	src: url('fonts/Shabnam.ttf');
	font-weight: 400;
}
@font-face {
	font-family: Shabnam;
	src: url('fonts/Shabnam-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: Shabnam;
	src: url('fonts/Shabnam-Light.ttf');
	font-weight: 250;
}
@font-face {
	font-family: Shabnam;
	src: url('fonts/Shabnam-Medium.ttf');
	font-weight: 600;
}
@font-face {
	font-family: Shabnam;
	src: url('fonts/Shabnam-Bold.ttf');
	font-weight: 900;
}
*, body {
	font-family: Shabnam;
}
