button,
.btn,
.button {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  font-size: 13pt;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 4px;
  transition: 200ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: @gray;
  outline: none;
  color: @dark;
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px lighten(@dark,80%);
  }
  &:hover {
    background-color: darken(@gray, 3%);
    transition: 200ms;
  }
  &:active {
    background-color: darken(@gray, 5%);
  }
}

button.blue,
.btn.blue,
.button.blue,
button.primary,
.btn.primary,
.button.primary {
  color: white;
  background-color: @blue;
  &:focus-visible {
    box-shadow: 0 0 0 2px @blue-border;
  }
  &:hover {
    background-color: darken(@blue, 2%);
  }
  &:active {
    background-color: darken(@blue, 5%);
  }
}

button.green,
.btn.green,
.button.green {
  color: white;
  background-color: @green;
  &:focus-visible {
    box-shadow: 0 0 0 3px @green-border;
  }
  &:hover {
    background-color: darken(@green, 2%);
  }
  &:active {
    background-color: darken(@green, 5%);
  }
}

button.yellow,
.btn.yellow,
.button.yellow {
  color: black;
  background-color: @yellow;
  &:focus-visible {
    box-shadow: 0 0 0 2pt @yellow-border;
  }
  &:hover {
    background-color: darken(@yellow, 2%);
  }
  &:active {
    background-color: darken(@yellow, 5%);
  }
}

button.red,
.btn.red,
.button.red {
  color: white;
  background-color: @red;
  &:focus-visible {
    box-shadow: 0 0 0 2pt @red-border;
  }
  &:hover {
    background-color: darken(@red, 2%);
  }
  &:active {
    background-color: darken(@red, 5%);
  }
}
