nav,
.nav {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  z-index: 5;
  top: 0;
  left: 0;
  position: sticky;
  flex-wrap: wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border-bottom: 1px solid @gray;
  & > li {
    background: none;
    font-weight: 600;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: @dark;
    padding: 15px;
    outline: none;
  }
}

[theme="dark"] nav,
[theme="dark"] .nav {
  background-color: @dark-let;
  border-color: @dark-light;
  & > li {
    border-color: @dark;
    color: @gray;
    & > a {
      color: @gray;
    }
  }
}

li {
  list-style: none;
}
ul {
  margin: 0;
}

@media screen and (max-width: @sm_screen) {
  .nav,
  nav {
    height: 100%;
    width: 240px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    transform: translateX(-240px);
    background-color: #fff;
    border-right: 1px solid #e8e8e8;
    display: block;
    overflow-x: hidden;
    overflow: auto;
    transition-duration: 0.5s;
    text-align: justify;
    &.open {
      transform: translateX(0);
    }
    & > li {
      padding: 10px 20px;
      text-decoration: none;
      font-size: 14pt;
      border-bottom: 1px solid @gray;
      transition-duration: 0.3s;
    }
    & > li > a {
      display: block;
    }
  }
}
