@import "../_variables.less";
nav.menu {
  display: flex;
  padding: 0;
  height: auto;
  margin: 0 auto;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: @dark;
  & > li {
    background-color: transparent;
    font-weight: 600;
    font-size: 12pt;
    list-style: none;
    cursor: pointer;
    color: white;
    padding: 15px;
    outline: none;
    line-height: 20px;
    &:hover {
      color: @dark-gray;
      transition: 0.3s;
    }
  }
}
