.sidenav,
sidenav {
  height: 100vh;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-320px);
  background-color: #fff;
  border-right: 1px solid @gray;
  overflow-x: hidden;
  overflow: auto;
  transition-duration: 0.5s;
  & > li {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14pt;
    border-bottom: 1px solid @gray;
    transition-duration: 0.3s;
  }
  & > li > a {
    display: block;
  }
  &.open {
    transform: translateX(0);
  }
}

[theme="dark"] sidenav,
[theme="dark"] .sidenav {
  background-color: @dark-light;
  border-color: @dark;
  & > li {
    border-color: @dark;
    & > a {
      color: @gray;
    }
  }
}
