@dark: #0d1117;
@dark-let: #23232c;
@dark-light: #2e2e3b;
@gray: #e8e8e8;
@dark-gray: #c4c4c4;
@gray-pale: rgba(27, 31, 35, 0.1);
@blue: #275efe;
@blue-border: darken(@blue, 10%);
@green: #28bd51;
@green-border: darken(@green, 10%);
@yellow: #fff670;
@yellow-border: darken(@yellow, 20%);
@red: #ee4e4e;
@red-border: darken(@red, 10%);

@sm_screen: 900px;
@xs_screen: 425px;
@lg_screen: 1280px;
